.header {
    display: flex;
    flex: auto;
    justify-content: space-between;
    
}

.h-links {
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: space-between;
}

.logo {
    padding-right: 70%;
    text-align: left;
}